* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}


header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #D8EBFF;
	flex-wrap: wrap;
	z-index:4;
	position: relative;
	border:1px solid grey;
	margin:-15px;

}
.m1 {
    display:flex;
	flex-direction:row;
	justify-content: center;
	background-color: #D8EBFF;
	flex-wrap: wrap;
	
}
h1 {
	font-family: 'Cormorant Infant', serif;
	display:inline;
	color: #26517C;
	size:25;
	transition: 5s;
}

h1:hover {
	text-decoration: overline;
	text-decoration-color: #04376C;
	font-family: 'Cormorant Infant', serif;
	display:inline;
	color: #04376C;
	size:26;
	font-weight:bold;
}

a:hover{
	text-decoration: none;
	color: #04376C;
}
.menu{
    height: 50px;
    background-color:#D8EBFF;
    color: lightgoldenrodyellow;
    text-transform: uppercase;
    font-size: 15px;
    margin:15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index:4;
	position: relative;
}
#s, h2 {
	font-family: 'Cormorant Infant', serif;
	display:flex;
	align-items: font-start ;
	color: #04376C;
	margin:20px;
	text-decoration: none;
}
.G1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
section {
	display: flex;
	flex-direction:column;
	
	flex-wrap: wrap;
}
body {
	background-image: url(img/bp2.png);
}