* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}


header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #D8EBFF;
	flex-wrap: wrap;
	z-index:4;
	position: relative;
	border:1px solid grey;
	margin:-15px;

}
.m1 {
    display:flex;
	flex-direction:row;
	justify-content: center;
	background-color: #D8EBFF;
	flex-wrap: wrap;
	
}
h1 {
	font-family: 'Cormorant Infant', serif;
	display:inline;
	color: #26517C;
	size:25;
}

h1:hover {
	font-family: 'Cormorant Infant', serif;
	display:inline;
	color: #04376C;
	size:26;
	font-weight:bold;
}

a:hover{
	text-decoration: none;
	color: #04376C;
}
.menu{
    height: 50px;
    background-color:#D8EBFF;
    color: lightgoldenrodyellow;
    text-transform: uppercase;
    font-size: 15px;
    margin:15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index:4;
	position: relative;
}
#s, h2 {
	font-family: 'Cormorant Infant', serif;
	display:flex;
	align-items: font-start ;
	color: #04376C;
	margin:20px;
	text-decoration: none;
}
.G1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
section {
	display: flex;
	flex-direction:column;
	min-height: 100%;
	flex-wrap: wrap;
}

.imgfp {
	margin:-10px;
	height: 600px;
	display:flex;
	flex-direction:row;
	justify-content: center;
	position: relative;
}
#img1{
	margin-left:-120px;
	margin-top:-50px;
}
#ph3{
	margin-top:-400px;
	margin-left:300px;
	z-index:2;
	height: 530px;
	
}


#ph3:hover{
	height: 550px;
	transition: 2s;
}


#ph2{
	z-index:1;
	opacity:0.6;
	margin:5px;
    padding: -5px;
	background: white;
}
#ph1{
	position: absolute;
	z-index:1;
	opacity:0.6;
	margin:5px;
    padding: -5px;
	margin-top:400px;
	margin-left:400px;
}
p{
	margin: 10px;
	padding: 30px;
	text-shadow:white 0 0 20px;
	size:30;
	font-family: 'Playfair Display', serif;	
	tab-size: 30px;
	position:absolute;
	margin-top:300px;
	margin-left:900px;
	width:470px;
	background: #e5eef1;
	z-index:2;
	text-align: center;
}
#ph4{
	height: 150px;
}
#g{
	position: absolute;
	margin-top:600px;
	margin-left:1200px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: flex;
}
h4{
	text-shadow:white 0 0 20px;
	size:30;
	font-family: 'Playfair Display', serif;	
	tab-size: 30px;
	position:relative;
	z-index:2;
	text-align: center;
}
.g2 {
	background-color: #FFD496;
	/*opacity: 1;*/
	padding:30px;
	border-radius: 50px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
    width: 300px;
	height: 400px;
	border-radius: 10 px;
	margin: 20px;
	flex:1;
	max-width: 1000px;
	min-width: 350px;
	transition: all 1s;
	
}



body {
	background-image: url(img/bp2.png);
	min-height: 100%;
}
